@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-transition::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    z-index: -1;
  }